@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

header {
  background-color: #e2136e;
}

nav {
  height: 60px;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e2136e;
  /* padding: 0 9rem; */
}

nav .logo {
  width: 124px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-weight: 300;
  font-size: 21px;
}

.logo img {
  margin-left: -2px;
  width: 65%;
  height: 60px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-weight: 400;
}

ul li a {
  color: white;
  padding: 0.5rem 1.3rem;
  border: none;
  border-radius: 40px;
}

ul li a:hover {
  outline: 1px dashed white;
}

.bkash-app {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 350px;
}

.bkash-app p {
  max-width: 300px;
}

.bkash-app p a:hover {
  background-color: white;
  color: #e2136e;
  opacity: 1;
}
.bkash-app p a {
  /* width: 80px; */
  padding: 6px 30px;
  border: 2px solid white;
  border-radius: 100px;
  font-weight: bold;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 17px;
}

/* Slideshow container */
.slideshow-container {
  max-height: 350px;
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

.Containers img {
  height: 100%;
  /* margin: auto; */
}

/* forward & Back buttons */
.back,
.forward {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  /* width: auto; */
  margin-inline: 5rem;
  margin-top: -23px;
  padding: 7px 10px;
  color: white;
  font-size: 15px;
  transition: 0.4s ease;
  border-radius: 50%;
  user-select: none;
  background-color: #9897978a;
}

/* Place the "forward button" to the right */
.forward {
  right: -35px;
}

/*when the user hovers,add a black background with some little opacity */
.back:hover,
.forward:hover {
  background-color: rgba(92, 88, 88, 0.8);
}

.enable,
.dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/* Financial Solutions content  */

.financial-solutions-content {
  height: 540px;
  padding-bottom: 4rem;
  padding-top: 4rem;
  background: linear-gradient(#ffeff6, #fff);
  text-align: center;
  /* margin-bottom: 14rem; */
}

.financial-solutions-content h2 {
  color: #333;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  padding-bottom: 2rem;
}

.fsolution-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.fsolution-col {
  background-color: #fff;
  color: black;
  height: 430px;
  width: 230px;
  box-sizing: border-box;
  box-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.1) !important;
  border-radius: 12px;
  transition: 0.3s;
  position: relative;
}

.fsolution-col:hover {
  box-shadow: 0 0 0.475rem rgba(0, 0, 0, 0.2) !important;
}

.fsolution-col a:hover {
  opacity: 1;
}

.card-img {
  padding: 2rem 1rem 1rem 2rem;
}

.card-body {
  margin: 0.5rem 0.5rem 1.5rem 0.5rem;
  padding-inline: 1rem;
}

.card-title {
  color: black;
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
  line-height: 1.2;
  transition: 0.3s;
}

.fsolution-col:hover .card-title {
  color: #e2136e;
}

.card-text {
  color: black;
  width: 175px;
  line-height: 1.7;
}

.card-footer {
  margin-bottom: 0.5rem;
  color: #e2136e;
  text-align: center;
  position: absolute;
  bottom: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
}

.fsolution-col img {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 500px) {
  nav {
    justify-content: space-between;
    padding: 0 1rem;
  }
  nav .logo {
    width: 94px;
    font-size: 23px;
  }
  .logo img {
    margin-left: -2px;
    width: 52%;
    height: 60px;
  }

  ul {
    flex-direction: column;
    /* z-index: 99; */
  }

  .bkash-app {
    display: none;
  }
  .back,
  .forward {
    margin-inline: 2rem;
  }
}
